.container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:auto;
    gap: 12px;

}


/*   when we usig grid, child-class shoud be different for "grid property"
   otherwise all container overlap on one another. 
   other than grid property lik background color can be put in same class 
   uncomment the follwing to see the effect
   */

/*
    .item{
        grid-column:1/4;
        grid-row:1;
        padding:16px; 
        backgound-color:red;
    } */

.item {
    padding: 16px;
    background-color: rgb(218, 62, 192);
}


.item1 {
    grid-column: 1/8;
    grid-row: 1;
}

.item2 {
    grid-column: 2/8;
    grid-row: 1;
}

.item3 {
    grid-column: 3/8;
    grid-row: 1;
}

.item4 {
    grid-column: 4/8;
    grid-row: 1;
}

.item5 {
    grid-column: 5/8;
    grid-row: 1;
}

.item6 {
    grid-column: 6/8;
    grid-row: 1;
}

.item7 {
    grid-column: 7/8;
    grid-row: 1;
}

.item8 {
    grid-column: 8/8;
    grid-row: 1;
}
